@font-face {
    font-family: 'garetB';
    src: url("Garet-Book.ttf");
}

@font-face {
    font-family: 'garetH';
    src: url("Garet-Heavy.ttf");
}

.name {
    text-align: center;
    background-color: #5a5a5a;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-bottom: 10px;
}

#userName {
    background-color: #888888;
    color: white;
}

#startBtn {
    background-color: #888888;
    color: white;
    border: 2px black solid;
}


#startBtn:hover {
    background-color: #5a5a5a;
}


#question {
    font-family: "garetH";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 24px;
    width: 80%;
}

#answers {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #888888;
    width: 80%;
}

.a {
    background-color: #5a5a5a;
    font-size: 24px;
    margin: 10px;
    text-align: center;
    width: 95%;
    font-family: "garetB";
    color: white;
    border: 2px solid black;
}

.a:hover {
    background-color: #858585;
    color: black;
}

.b {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#startBtn {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}

.correctAnswerClass {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #196400;
    width: 600px;
    border: 2px solid black;
    font-family: "garetB";
    margin-bottom: 40px;
    color: white;
}

.wrongAnswerClass {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #8b0023;
    width: 600px;
    border: 2px solid black;
    font-family: "garetB";
    margin-bottom: 40px;
    color: white;
}

#userInfo {
    font-family: "garetH";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 24px;
    width: 80%;
    background-color: #5a5a5a;
    color: white
}