@font-face {
    font-family: 'garetB';
    src: url("Garet-Book.ttf");
}

@font-face {
    font-family: 'garetH';
    src: url("Garet-Heavy.ttf");
}

.name{
    text-align: center;
}

#question{
    font-family: "garetH";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 24px;
    width: 80%;
}

#answers{
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #b1b1b1;
    width: 80%;
}

.a{
    background-color: #f1f1f1;
    font-size: 24px;
    background-color:white;
    margin:10px;
    text-align: center;
    width: 400px;
    font-family: "garetB";
}

.b{
    margin-left: auto;
    margin-right: auto; 
}

#startBtn{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto; 
}

.correctAnswerClass{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #80ff80;
    width: 600px;
    border: 1px solid black;
    font-family: "garetB";
    margin-bottom: 40px;
}

.wrongAnswerClass{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff6161;
    width: 600px;
    border: 1px solid black;
    font-family: "garetB";
    margin-bottom: 40px;
}

#userInfo{
    font-family: "garetH";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 24px;
    width: 80%;
    background-color: #b1b1b1;
}